/*
arquivo de css (cascade style sheet - folha de estilo em cascata 
é ultilizado para fazer a camada de formatação de um site HTML.
*/

/*

vamos formatar todos os elemntos presente em uma pagina html usando o *("asterisco") e aplicar margem extermna e interna 
zero (0) e realizar o ajuste das caixas em html [
*/

* {
  margin: 0px; /*margem externa das caixas*/
  padding: 0px; /*margem interna das caixas*/
  box-sizing: border-box; /*ajuste de padding das caixas sem a soma a largura*/
}

header {
  height: 300px; /*aplicar altura ao cabeçalho*/
  /* aplicar imagem de fundo ao cabeçalho*/
  background-image: url("https://uploads.bemparana.com.br/upload/image/noticia/noticia_681711_img1_senac.jpg");
  /*aumentar o tamanho da imagem do fundo*/
  background-size: 60%;
  /*alterar a posição vertical da imagem*/
  background-position-y: -95px;
  padding-top: 100px;
  text-align: center;
}

h1 {
  font-family: "times new roman";
  font-size: 60pt;
  color: rgb(6, 19, 133);
  /*vamos aplicar uma sombra: 
  -primeiro elemnto é a posição horizontal;
  -segundo elemento é a posição vertical da sombra;
  -terceiro elemento é o efeito de esfumaçada da sombra;
  -quarto elemnto é a cor*/

  text-shadow: 2px 2px 5px rgb(245, 121, 6);
}
/*vamos fazer a formatação da barra de navegação*/
nav {
  background-color: rgba(153, 134, 49, 0.514);
  padding: 10px;
  text-align: center;
}
nav ul li {
  /*dispor os elemntos em linhas*/
  display: inline-block;
  /*espaço entre os links*/
  margin: 5px;
}
nav ul li a {
  color: rgb(235, 34, 34);
  font-family: arial;
  /*tirar o sublinhado*/
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: rgba(51, 48, 184, 0.925);
  /*permitir com o que o rodape fique com o seu conteudo flexivel*/
  display: flex;
  /*dispor o conteudo em linha*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 210px;
}

footer div {
  border: 1px solid rgb(24, 15, 1);
  margin: 10px;
  /*ajustar o conteudo ao centro com justify-content: e align-items: */
  justify-content: center;
  align-items: center;
}

footer div {
  border: 1px;
  margin: 10px;
}

#endereco {
  font-family: arial;
  font-size: 12pt;
  color: rgb(240, 237, 245);
  width: 300px;
}

#redes ul {
  /*retirar as bolinhas de marcação*/
  list-style: none;
}
/*vamos dispor a imagens das redes em linha com dispay inline-block*/
#redes ul li {
  display: inline-block;
  margin: 10px;
}
#redes ul li a img {
  width: 50px;
  height: 50px;
}

#redes {
  position: absolute;
  right: 50px;
}
/* ======== inicio da formatação css para a pagina home*/

h2 {
  font-family: "Lucida Sans";
  font-size: 20pt;
  border-bottom: 1px dashed darkred;
  margin: 50px;
}
main p {
  margin: 10px;
  width: 80%;
  /* para alinhar um objeto ao centro voce pode usar margin-left e margin-right: auto para os dois*/
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "lucida sans";
  font-size: 12pt;
  /*espaçamento entre linhas com o comando line-height: */
  line-height: 30px;
}

#imghome {
  text-align: center;
}

#imghome img {
  width: 350px; /*largura da imagem*/
  height: 350px; /*altura da imagem*/
  /*arredondar os cantos das imagens*/
  border-radius: 300px;
  /*vamos deixar as imagens um pouco opcas*/
  opacity: 500px; /*colocar a imagem em 70% de opcidade*/
  margin: 5px;
  /*efeito de transição. isso fará com que a imagem tenha 
  uma animação quando passar o mouse sobre ela */
  transition: ease 1s;
}
#imghome img:hover {
  opacity: 1;
  /* width: 300px;
  height: 300px; */

  transform: scale(1.2);
  /*transform: rotate(360deg); girar a imagem em 360graus*/
}

/*=========================================================*/

/* ===================== fim da home======================*/
/*====================inicio dos estilos da pagina historia======*/
#imghistoria {
  /*centralizar o conteudo desta div*/
  text-align: center;
  /*alterar a largura da caixa com imgs*/
  width: 90px;
  /*centralizar a div que contém as imagnes*/
  margin-left: auto;
  margin-right: auto;
}
/* vamos formatar o tamanho das imagens que estao dentro da caixa imghistoria*/
#imghistoria img {
  width: 200px;
  height: 200px;
  margin: 5px;
}

#videohistoria {
  width: 80px
  margin-left: auto;
  margin-right: auto;
}

#videohistoria iframe {
width: 100%;
height: 500px;
margin-top:20px;
margin-bottom:20px;

}

/*=======================fim da pagina hisotira===*/
