/*
arquivo de css (cascade style sheet - folha de estilo em cascata 
é ultilizado para fazer a camada de formatação de um site HTML.
*/

/*

vamos formatar todos os elemntos presente em uma pagina html usando o *("asterisco") e aplicar margem extermna e interna 
zero (0) e realizar o ajuste das caixas em html [
*/

* {
  margin: 0px; /*margem externa das caixas*/
  padding: 0px; /*margem interna das caixas*/
  box-sizing: border-box; /*ajuste de padding das caixas sem a soma a largura*/
}

header {
  height: 300px; /*aplicar altura ao cabeçalho*/
  /* aplicar imagem de fundo ao cabeçalho*/
  background-image: url("https://uploads.bemparana.com.br/upload/image/noticia/noticia_681711_img1_senac.jpg");
  /*aumentar o tamanho da imagem do fundo*/
  background-size: 60%;
  /*alterar a posição vertical da imagem*/
  background-position-y: -95px;
  padding-top: 100px;
  text-align: center;
}

h1 {
  font-family: "times new roman";
  font-size: 60pt;
  color: rgb(6, 19, 133);
  /*vamos aplicar uma sombra: 
  -primeiro elemnto é a posição horizontal;
  -segundo elemento é a posição vertical da sombra;
  -terceiro elemento é o efeito de esfumaçada da sombra;
  -quarto elemnto é a cor*/

  text-shadow: 2px 2px 5px rgb(245, 121, 6);
}
/*vamos fazer a formatação da barra de navegação*/
nav {
  background-color: rgba(153, 134, 49, 0.514);
  padding: 10px;
  text-align: center;
}
nav ul li {
  /*dispor os elemntos em linhas*/
  display: inline-block;
  /*espaço entre os links*/
  margin: 5px;
}
nav ul li a {
  calor: rgb(235, 34, 34);
  font-family: arial;
  /*tirar o sublinhado*/
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color: rgba(51, 48, 184, 0.925);
  /*permitir com o que o rodape fique com o seu conteudo flexivel*/
  display: flex;
  /*dispor o conteudo em linha*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 210px;
}

footer div {
  border: 1px solid rgb(24, 15, 1);
  margin: 10px;
  /*ajustar o conteudo ao centro com justify-content: e align-items: */
  justify-content: center;
  align-items: center;
}

footer div {
  border: 1px;
  margin: 10px;
}

#endereco {
  font-family: arial;
  font-size: 12pt;
  color: rgb(240, 237, 245);
  width: 300px;
}

#redes ul {
  /*retirar as bolinhas de marcação*/
  list-style: none;
}
/*vamos dispor a imagens das redes em linha com dispay inline-block*/
#redes ul li {
  display: inline-block;
  margin: 10px;
}
#redes ul li a img {
  width: 50px;
  height: 50px;
}

#redes {
  position: absolute;
  right: 50px;
}
